.user-profile-container {
    display: flex;
    flex-direction: column;
}

.user-profile-inner-container {
    width: 50%;
    margin: auto;
}

.user-profile-header {
    padding: 1rem;
    border-bottom: 1px solid var(--twitter-lightest-gray);
    border-left: 1px solid var(--twitter-lightest-gray);
    border-right: 1px solid var(--twitter-lightest-gray);
}

.no-post-text {
    padding: 1rem;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: var(--twitter-light-grey);
}

.username-header-text {
    color: var(--twitter-primary-blue);
}

@media (max-width: 1024px), only screen and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio : 2) {
    .user-profile-inner-container {
        width: 100%;
    }   
}